<h3>Los Colegios de Toledo</h3>
<hr/>

<button class="btn btn-outline-primary me-3"
(click)="agregarColegio()"
>
    Agregar colegio
</button>

<button class="btn btn-outline-danger me-3"
    (click)="borrarColegio()"
>
    Borrar colegio
</button>

<ul *ngIf="colegios.length > 0; else noHayColegios">
    <li *ngFor="let colegio of colegios; index as i">{{ i+1 }}-{{ colegio }}</li>
    
</ul>

<ng-template #noHayColegios>
    <div class="alert alert-warning" role="alert">
        
        Noy hay colegios
    </div>
</ng-template>
